*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f3eeee;
}

/* Cabeçalho */
header {
    background-color: #5776a5;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 2rem;
}

header nav ul {
    list-style: none;
    margin-top: 10px;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Seção de produtos */
.products {
    display: grid;
    gap: 20px;
    padding: 50px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.product {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: translateY(-10px);
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.product-details {
    padding: 20px;
}

.product-details h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.product-details .description {
    margin-bottom: 15px;
    color: #555;
}

.product-details .price {
    font-size: 1.2rem;
    color: #e74c3c;
    margin-bottom: 15px;
}

.buy-btn {
    background-color: #27ae60;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.buy-btn:hover {
    background-color: #118842;
}

/* Rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    width: 50%; /* Ajusta a largura para 50% do tamanho original */
    height: auto; /* Mantém a proporção da imagem */
  }
  
  